<h1>Upcoming Tours</h1>

<% @showings.each do |showing| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= showing.neighborhoods.to_sentence.titlecase %></h3>
      </div>
      <div class="panel-body">
       <div class="col-md-2">
          <%= link_to showing, class:"pull-left" do%>
        <h3 class="text-center"><%= showing.date.strftime('%B') %></h3>
        <img src=<%= "http://placehold.it/150/c0392b/ffffff&text=" + showing.date.strftime('%d') %> alt="..." >
      <% end %> 
       </div>  

       <div class="col-md-8">
         <div class="group">
          <div class="one">
          <%= showing.bedroom %>
          </div>
          <div class="two">
            From <%= showing.lower_price_range%>
            to <%= showing.upper_price_range%>
          </div>
          <div class="three">
           <%= showing.neighborhoods.to_sentence %>
          </div>
        </div>
        <div class="alert alert-warning">
          Found Nest Bonus: <%=showing.Found_Nest_Bonus %>
        </div>

      <%= image_tag showing.broker.avatar.url, class:'img-circle', height:'90px'  %>

        <p><%= showing.broker.email %></p>
        <p><%= showing.time.strftime('%I:%M %p') %></p>
        <p><%= showing.duration %></p>
        <p><%= showing.location %></p>
        <p><%= showing.details %></p>
        <% showing.apartments.each do |apartment| %>
          <%= image_tag apartment.image.url(:thumb) %>

          <% apartment.apartment_photos.first do |photo| %>
            <%= link_to image_tag photo.photos.url(:thumb)%>
          <% end %>
        <% end %>   

      </div>
       </div>
    </div>  
<% end %>


<%= link_to 'New Showing', new_showing_path %>
