<!--  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> 
<div id="map-canvas"></div> -->
<p id="notice"><%= notice %></p>
<%= link_to("addUser", showing_users_path(:showing_user=>{:showing_id=> @showing}), method: :post) %>

<% @showing.users.each do |user| %>

<p> <%= user.email   %>   
</p>
<% end %>   


<%= image_tag @showing.image.url(:thumb) %>
<p>
  <strong>Date:</strong>
  <%= @showing.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= @showing.time %>
</p>
<p>
  <strong>Nieghborhoods:</strong>
  <%= @showing.neighborhoods %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @showing.duration %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @showing.duration %>
</p>

<p>
  <strong>Location:</strong>
  <%= @showing.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @showing.details %>
</p>


<h1>Listing apartments</h1>
<% @showing.apartments.each do |apartment| %>
<div class="well">
  <p> <%= image_tag apartment.image %></p>
  <p> Apartment Name: <%= apartment.title %></p>
  <p> <%= apartment.neighborhood %></p>
  <p> <%= apartment.price %></p>
  <p>Bedrooms: <%= apartment.bedrooms %></p>
  <p>Bathrooms: <%= apartment.bathrooms %></p>
  <p> <%= apartment.description %></p>
  <p> <%= apartment.move_date %></p>

  <% unless apartment.apartment_photos.empty? %>
    <div id="carousel-example-generic_<%= apartment.id %>" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="2"></li>
      </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <% apartment.apartment_photos.each do |photo| %>

          <% if photo == apartment.apartment_photos.first %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>

          <%= image_tag photo.photos.url(:large) %>
          <div class="carousel-caption">
            <%= apartment.title %>
          </div>
        </div>

        <% end %>
      </div>
    <br>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <% end %>
  <br>
  </div>
<% end %> 



<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
