<!--  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> 
<div id="map-canvas"></div> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55774942-1', 'auto');
  ga('send', 'pageview');

</script>
<p id="notice"><%= notice %></p>
<% if current_user %>
  <%= link_to("addUser", showing_users_path(:showing_user=>{:showing_id=> @showing}), method: :post) %>
<% elsif current_broker == @showing.broker %>
  <%= link_to "View Signed Up Users", showing_users_path(tour: @showing.id) %>
  <% @showing.users.each do |user| %>

<p> <%= user.email%>   
</p>
<% end %>  
<% end %>


 

<h1>
  Tour Potential Nests in <%= @showing.neighborhoods.to_sentence %>
</h1>

<%= image_tag @showing.broker.avatar.url, class:'img-circle', height:'90px'  %>
<%=@showing.broker.first_name%> <%=@showing.broker.last_name%>


<p>
  <strong>Quest Date:</strong>
  <%= @showing.date %>
</p>

  <p><strong>Quest Start Time:</strong> <p><%= @showing.time.strftime('%I:%M %p') %></p></p>


<p>
  <strong>Estimated Quest Duration:</strong>
  <%= @showing.duration %> hours
</p>

<p>
  <strong> Quest Start Location:</strong>
  <%= @showing.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @showing.details %><br>
  <%= image_tag @showing.image.url(:large) %>
</p>

<% @showing.apartments.each do |apartment| %>
    <%= image_tag apartment.image.url(:thumb) %>

    <% apartment.apartment_photos.first do |photo| %>
      <%= link_to image_tag photo.photos.url(:thumb) %>
    <% end %>
  <% end %>   

<div class="row">
  <% @showing.apartments.each do |apartment| %>
    <% unless apartment.apartment_photos.empty? %>
      <div id="carousel-example-generic_<%= apartment.id %>" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="2"></li>
        </ol>

          <!-- Wrapper for slides -->
        <div class="carousel-inner">


          <% apartment.apartment_photos.first do |photo| %>

            <% if photo == apartment.apartment_photos.first %>
              <div class="item active">
            <% else %>
              <div class="item">
            <% end %>

            <%= image_tag photo.photos.url(:large) %>
            <div class="carousel-caption">
              <%= apartment.title %>
            </div>
          </div>
     
          <% end %>
          </div>
 
           <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a> 
                </div>
      </div>
        <% end %>            
  <% end %>            
</div>







<h1>Listing apartments</h1>
<% @showing.apartments.each do |apartment| %>
<div class="well">
  <div class="row">
    <div class="col-md-4">
      <p> <%= image_tag apartment.image.url(:medium) %></p>
    </div>
    <div class="col-md-8">
      <h4> <%= apartment.title %></h4>
      <p> Neighborhood: <%= apartment.neighborhood %></p>
      <p> Rental Price: <%= apartment.price %></p>
      <p>Bedrooms: <%= apartment.bedrooms %></p>
      <p>Bathrooms: <%= apartment.bathrooms %></p>
      <p> Apartment Details: <%= apartment.description %></p>
      <p> Date Available: <%= apartment.move_date %> </p>
    </div>


  </div>

  <div class="row">
    <% unless apartment.apartment_photos.empty? %>
    <div id="carousel-example-generic_<%= apartment.id %>" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic_<%= apartment.id %>" data-slide-to="2"></li>
      </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <% apartment.apartment_photos.each do |photo| %>

          <% if photo == apartment.apartment_photos.first %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>

          <%= image_tag photo.photos.url(:large) %>
          <div class="carousel-caption">
            <%= apartment.title %>
          </div>
        </div>

        <% end %>
        </div>
         <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic_<%= apartment.id %>" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>  
      </div>
   
  </div>
  <% end %>
  <br>
  </div>
<% end %> 



<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
