<p id="notice"><%= notice %></p>


<%= link_to("addUser", showing_users_path(:showing_user=>{:showing_id=> @showing}), method: :post) %>

<% @showing.users.each do |user| %>

<p> <%= user.email   %>   
</p>
<% end %>   


<%= image_tag @showing.image.url(:thumb) %>
<p>
  <strong>Date:</strong>
  <%= @showing.date %>
</p>
  <%= debug(@showing)%>
<p>
  <strong>Time:</strong>
  <%= @showing.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @showing.duration %>
</p>

<p>
  <strong>Location:</strong>
  <%= @showing.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @showing.details %>
</p>


<h1>Listing apartments</h1>


<% @showing.apartments.each do |apartment| %>
  <p> <%= image_tag apartment.image %></p>
  <p> <%= apartment.title %></p>
  <p> <%= apartment.neighborhood %></p>
  <p> <%= apartment.price %></p>
  <p> <%= apartment.bedrooms %></p>
  <p> <%= apartment.bathrooms %></p>
  <p> <%= apartment.description %></p>
  <p> <%= apartment.move_date %></p>

       

<% end %>   

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  
<% @showing.apartments.each do |apartment| %>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <%= image_tag apartment.image.url(:medium) %>
      <div class="carousel-caption">
        <%= apartment.title %>
      </div>
    </div>
    
  </div>

<% end %>   
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br>




<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
