<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55774942-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="container">
      <div class="row">
        <div class="cta">
          <%= image_tag 'nest-white.png', height:'100px', class:'text-center', style:'opacity: 0.8;'%>
          <div class="row">
            Harness the power of the group to find a great apartment.
          </div>
        </div>
      </div>
      <div class="row">
        <%= form_tag showings_path, class:'navbar-form navbar-left', method: "get" do %>
        <div class="form-group">
                    <div class="col-sm-5 col-sm-pull-6 col-md-12 col-md-push-5">
           <div class="input-group">

            <%= text_field_tag :search, params[:search.downcase], class:'cta-search form-control searchbar input-lg', style:'width: 46rem;', placeholder:'Enter a price, number of bedrooms, or neighborhood' %>
                  <span class="input-group-btn">

                  <%= button_tag type:'submit', class:"btn btn-default btn-lg" do%>
                    <span class="glyphicon glyphicon-search"></span>                  
                  <% end %>
                  </span>
          </div>

    </div><!-- /input-group -->
        <%end%>
        </div>
      </div>
      <div class="row text-center">
          <%= link_to 'View Tours', showings_path, class:"btn btn-cta btn-lg", role:"button"%>
        </div>
      </div>
</div>

<!--   <div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="thumbnail" style="border: none">
        <%= image_tag 'elephantbalance.jpg', class:"index-thumbnail"%>
        <div class="caption">
          <h4>Found Nest Bonus</h4>
          <p> Our tours are designed to find you the right nest. All tours include a Found Nest Bonus to make that feeling of finding your next home that much better. </p>
          
          <p><a href="#" class="btn btn-primary" role="button">Testimonials</a></p>
        
        </div>

      </div>

    </div>
     <div class="col-md-3">
      <div class="thumbnail">
        <img src="couch.jpg" class="index-thumbnail">
        <div class="caption">
          <h4> A Better Quest </h4>
         <p>The Nest Quest system allows our Questers to join group tours of NYC apartments that meet their search criteria. </p>
          <p><a href="#" class="btn btn-primary" role="button">#NestQuest</a> </p>
        
        </div>

      </div>

    </div>
     <div class="col-md-3">
      <div class="thumbnail">
        <img src="tiredsearching.jpg" class="index-thumbnail">
        <div class="caption">
          <h4>Real Nests Only</h4>
          <p> We work to ensure that all apartments and tours posted on the site are real nests that you will actually be seeing on your group quest through NYC apartments. </p>
          <p><a href="#" class="btn btn-primary" role="button">Listing Your Nest</a> </p>
        
        </div>

      </div>

    </div>
  </div>
</div> -->