<h1>Listing apartment_photos</h1>

<table>
  <thead>
    <tr>
      <th>Apartment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartment_photos.each do |apartment_photo| %>
      <tr>
        <td><%= apartment_photo.apartment.id %></td>
        <td><%= link_to 'Show', apartment_photo %></td>
        <td><%= link_to 'Edit', edit_apartment_photo_path(apartment_photo) %></td>
        <td><%= link_to 'Destroy', apartment_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment photo', new_apartment_photo_path %>
