<h1>Listing showing_users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Showing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showing_users.each do |showing_user| %>
      <tr>
        <td><%= showing_user.user %></td>
        <td><%= showing_user.showing %></td>
        <td><%= link_to 'Show', showing_user %></td>
        <td><%= link_to 'Edit', edit_showing_user_path(showing_user) %></td>
        <td><%= link_to 'Destroy', showing_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showing user', new_showing_user_path %>
