<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <% f.collection_select(:user_id, User.all, :id, :email, {:selected => current_user}) %>

    <% f.collection_select(:broker_id, Broker.all, :id, :email) %>

    <div class="field">
    
    <%= f.text_area :body %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
