<%= form_for @apartment, :html => { :multipart => true } do |f| %>

<% if @apartment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

  <ul>
    <% @apartment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="well" style="max-width:540px;margin:auto;">
  <p>
    <%= f.text_field :title, class:'form-control', style:'max-width:500px;', placeholder:'Title of apartment' %>
  </p>
  <p>
    <%= f.text_field :neighborhood, class:'form-control', style:'max-width:500px;', placeholder:'Neighborhood' %>
  </p>
  <p>
    <%= f.number_field :price, class:'form-control', style:'max-width:500px;', placeholder:'Price' %>
  </p>
  <p>
    <%= f.number_field :bedrooms, class:'form-control', style:'max-width:500px;', placeholder:'Bedrooms' %>
  </p>
  <p>
    <%= f.number_field :bathrooms, class:'form-control', style:'max-width:500px;', placeholder:'Bathrooms' %>
  </p>
  <p>
    <%= f.text_area :description, class:'form-control', style:'max-width:500px;', placeholder:'Description' %>
  </p>
  <p>
    <%= f.date_select :move_date, class:'form-control', style:'max-width:500px;', placeholder:'Move Date' %>
  </p>
  <%= f.hidden_field :broker_id, value: current_broker.id %>
  <%= f.file_field :image %>
  <div id="apartment_photos">
    <%= f.fields_for :apartment_photos do |apartment_photo| %>
    <%= render 'apartment_photo_fields', f:apartment_photo %>
    <% end %>
  </div>
  <div class="links">
    <%= link_to_add_association 'add photo', f, :apartment_photos, class:'btn btn-success' %>
    <%= f.submit 'Submit', class:'btn btn-primary pull-right' %>
  </div>
</div>
<% end %>

