
<!DOCTYPE html>
<html>
<head>
  <title>Regroup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>

<%= render 'nav'%>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


<div class="container">
  <%= yield %>
</div>

</body>
<footer>
  <div class="container">
    
    <div class="row">
      Contact Us
    </div>
  </div>
</footer>
</html>
